.background_image {
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: repeat;
}
    
.container {
    color: black;
    margin-top: 180px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-blend-mode: color-dodge;
}


.btn {
    background-color: red; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Eczar', sans-serif
}

.big {
    font-size: 2em;
}

.small {
    font-size: 1em;
}

.circle {
    width: 30px;
    height: 70px;
}

img:hover {
    opacity: 0.5;
}

.panel-body {
    height: 500px;
    overflow-y: scroll;
}