
.container {
    color: black;
    margin-top: 180px;
    margin-bottom: 100px;
    margin-left: 120px;
    position: relative;
    font-family: 'Rubik', sans-serif;
    padding: 20px, 40px;
    background-blend-mode: color-dodge;
    max-width: 100%;
}


.btn {
    background-color: red; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Eczar', sans-serif
}

.big {
    font-size: 3em;
}

.small {
    font-size: 1em;
}

.circle {
    width: 30px;
    height: 70px;
}

img:hover {
    opacity: 0.5;
}